@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden; 
}


body {
	background-image: url('./assets/images/Tomoe_Background_Final.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Cinzel', serif;
}



@media(min-width: 300px){
   	.header {
		background: url('../src/assets/images/Hero.jpg') center;
		min-height: 188px;
		background-repeat: no-repeat;
		background-size: cover;
	   }
	   
	   
	.nav-item-container {
		/* margin: 0; */
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
	.nav-item {
		align-self: baseline;
		text-decoration: none;
		font-family: 'Cinzel', serif;
		font-size: 15px;
		font-weight: 600;
		line-height: normal;
		/* letter-spacing: -0.01px; */
		color: white;
	}

	.open-until {
		width: 100%;
		text-align: center;
		color: white;
		font-size: 12px;
	}

	.center {
		font-size: 20px;
	}

	/* /////////////////////////////////////   Christina  //////////////////////////////////// */
	/* //////////////////////////////////// Press (BELOW) //////////////////////////////////// */
	.press-Reviews {
		display: grid;
	}
	.gridContainer {
		display: column;
		grid-template-columns: auto auto;
		grid-gap: 10px;
		margin-left: 0px;
	}
	.fullReview {
		margin-top: 10px;
	}
	.img {
		width: 125px; 
		margin-top: 33px;
		order: 1;
		margin-left: 70px;
	}
	.review {
		margin-left: 30px;
		max-width: 300px;
		max-height: 72px;
		color: white;
		overflow-wrap: break-word;
		order: 2;
		font-family: 'Cinzel', serif;
		font-style: italic;
		margin: 0;
	}
	.infatuationImg {
		order: 1;
		width: 190px;
		margin-top: 30px;
		margin-right: 100px;
		margin: 0;
		margin-left: 45px;
	}
	.infatuationP {
		margin-bottom: 20px;
		margin-left: 45px;
		margin-top: 30px;
	}
	.timeOutImg {
		width: 190px;
		margin-top: 30px;
		margin-right: 100px;
		margin: 0;
		margin-left: 45px;
	}
	.timeOutP {
		margin-bottom: 20px;
		margin-left: 45px;
		margin-top: 30px;
	}
	.thrillistP {
		margin-bottom: 20px;
		margin-left: 30px;
		margin-top: 30px;
	}
	.thrillistImg {
		margin: 0;
		margin:auto;
		margin-left: 30px;
		width: 190px;
	}
	.thrillist {
		margin-top: 30px;
		margin-top: -20px;
		margin-left: 20px;
	}
	/* //////////////////////////////////// Press (ABOVE) /////////////////////////////////////// */
	/* ///////////////////////////////////////////////////////////////////////////////////////// */

		/* //////////////////////////////////// Gallery (BELOW) /////////////////////////////////////// */
	/* ///////////////////////////////////////////////////////////////////////////////////////// */

	.gallery-img{

		width: auto; 
		height: 100px; 
		padding: 12px;

	}

	/* //////////////////////////////////// Gallery (ABOVE) /////////////////////////////////////// */
	/* ///////////////////////////////////////////////////////////////////////////////////////// */

	/* ////////////////////////////////////////////////////////////////////////////////////// */
	/* //////////////////////////////////// Info (BELOW) //////////////////////////////////// */
	.info {
		color: white;
		display: flex;
		flex-flow: column;
		align-items: center;
	}
		.info .info-title {
			font-size: 50px;
		}
		.info .info-content {
			display: flex;
			flex-flow: column;
			width: 100%;
			justify-content: space-between;
		}
			.info .info-content .location {
				display: flex;
				flex-flow: column;
				align-items: center;
				margin: 30px 150px;
			}
				.info .info-content .location .location-map {}
				.info .info-content .location .location-map .address {
					display: flex;
					flex-flow: column;
					align-items: center;
					margin: 10px 0 0 0;
				}
			.info .info-content .info-right .address {
				display: flex;
				flex-flow: column;
				align-items: center;
				margin: 10px 0;
			}
			.info .info-content .week-schedule {
				display: flex;
				flex-flow: column;
				justify-content: center;
				align-items: center;
				width: 85%;
				max-width: 275px;
				margin: auto;
				border: thin solid white;
			}
				.info .info-content .week-schedule .weekday-container {
					display: flex;
					flex-flow: row;
					width: 100%;
					justify-content: center;
				}
				.info .info-content .week-schedule .weekday-container.today .title {
					color: rgb(145, 184, 152);
					font-weight: 900;
				}
					.info .info-content .week-schedule .weekday-container .title {
						width: 100%;
						text-align: left;
						white-space: nowrap;
						margin-left: 5px;
					}
					.info .info-content .week-schedule .weekday-container .open-close-container {
						display: flex;
						flex-flow: column;
						justify-content: left;
						text-align: right;
						width: 100%;
						white-space: nowrap;
						margin-right: 5px;
					}
						.info .info-content .week-schedule .weekday-container .open-close-container .open-close.now {
							color: rgb(145, 184, 152);
							font-weight: 900;
							text-align: right;
						}
	/* //////////////////////////////////// Info (ABOVE) //////////////////////////////////// */
	/* ////////////////////////////////////////////////////////////////////////////////////// */

	.menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: 'Cinzel', serif;
	}
	.menu-title-container {
		font-family: 'Cinzel', serif;
		color: white;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.menu-title {
		color: white;
		font-size: 14px;
		font-family: 'Cinzel', serif;
	}
	.menu-image {
		width: 58px;
		height: 58px;
		border-radius: 50%;
		padding:5px;
	}
	

	.menu-container {
		display: flex;
		flex-direction: column;
		padding: 10px;
		align-self: center;
	}
	.menu-list-title {
		align-self: center;
		margin-bottom: 0;
	}
	.menu-list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.menu-category {
		align-self: center;
	}
	.menu-content {
		background: rgba(0, 0, 0, .3);
		margin: 15px 0 0 0;
		font-size: 8px;
		margin-top:30px;
	}
	.menu-item-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0 10px;
	}
		.menu-item-container .menu-item {
			white-space: nowrap;
			font-weight: 700;
		}
		.menu-item-container .description, .menu-item-container .price {
			width:100%;
		}
		.menu-item-container .description{
			font-weight: 200;
			font-style: italic;
			margin: 0;
		}
		.menu-item-container .price{
			text-align: right;
		}

	
}

@media(min-width: 700px){

	.address{
		font-size: 25px;
	}
	

	.open-until {
		width: 92.5%;
		text-align: right;
		font-size: 18px;
	}
	.close-button {
		font-size: 42px;
		color: gray;
		cursor: pointer;
		padding-top: 20px;
	}

	.nav-item {
		align-self: baseline;
		text-decoration: none;
		font-family: 'Cinzel', serif;
		font-size: 40px;
		font-weight: 200;
		line-height: normal;
		/* letter-spacing: -0.01px; */
		color: white;
	}
	.center {
		font-size: 50px;
	}

   	.header {
		min-height: 488px;
   	}
	
	.menu-container {
		justify-content: space-around;
	}
	.menu-item {
		font-weight: 600;
	}
	.menu-title {
		font-size: 20px;
	}
	.menu-list-title, .menu-title {
		color: white;
		justify-self: center;
		align-self: center;
	}

	.menu-title-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.menu {
		justify-items: center;
		align-items: center;	
	}
	.menu-image {
		min-width: 150px;
		min-height: 150px;
	}
	.menu-content {
		font-size: 16px;
	}
	/* ////////////////////////////////////////////////////////////////////////////////////// */
	/* //////////////////////////////////// Info (BELOW) //////////////////////////////////// */
	.info {}
		.info .info-title {}
		.info .info-content {
			flex-flow: row;
		}
			.info .info-content .location {
				margin: 30px 0;
				margin-left: 5%;
				padding: 0;
			}
			.info .info-content .info-right {
				width: 100%;
				/* max-width: 650px; */
				margin: 25px 20px;
				margin-right: 5%;
			}
				.info .info-content .info-right .address {
					display: flex;
					flex-flow: column;
					justify-content: start;
					align-items: flex-start;
					margin: 10px 0;
				}
				.info .info-content .info-right .week-schedule {
					margin: 0;
					border: none;
					font-size: 25px;
					max-width: none;
					left: 0;
					width: 100%;
				}
					.info .info-content .week-schedule .weekday-container {
						margin: 2px 0;
					}
						.info .info-content .week-schedule .weekday-container .title, .info .info-content .week-schedule .weekday-container .open-close-container {
							margin: 0;
						}
	/* //////////////////////////////////// Info (ABOVE) //////////////////////////////////// */
	/* ////////////////////////////////////////////////////////////////////////////////////// */

			/* //////////////////////////////////// Gallery (BELOW) /////////////////////////////////////// */
	/* ///////////////////////////////////////////////////////////////////////////////////////// */

	.gallery-img{

		width: auto; 
		height: 10px; 
		padding: 20px;

	}

	/* //////////////////////////////////// Gallery (ABOVE) /////////////////////////////////////// */
	/* ///////////////////////////////////////////////////////////////////////////////////////// */
	
	/* /////////////////////////////////////   Christina  //////////////////////////////////// */
	/* //////////////////////////////////// Press (BELOW) //////////////////////////////////// */
	.gridContainer {
		grid-template-columns: auto;
	}
	.fullReview {
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 10px;
		margin-left: 0px;
	}
	.img {
		margin-top: 20px;
		margin-left: 70px;
	}
	.review {
		max-width: 490px;
		order: 2;
		font-style: normal;
		margin-top: 100px;
		font-size: 22px;
	}
	.infatuationImg {
		margin-left: 70px;
		height: auto;
		width: 298px;
	}
	.infatuationP {
		margin-left: 90px;
		margin-top: 15px;
	}
	.timeOutImg {
		width: 309px;
		height: 117px;
		margin-top: 10px;
	}
	.timeOutP {
		margin-left: 90px;
		margin-top: 15px;
	}
	.thrillistImg {
		margin-left: 70px;
		height: 103px;
		width: 298px;
	}
	.thrillistP {
		margin-bottom: 90px;
		margin-left: 90px;
		margin-top: 15px;
	}
	.thrillist {
		margin-top: 70px;
	}

	/* //////////////////////////////////// Press (ABOVE) /////////////////////////////////////// */
	/* ///////////////////////////////////////////////////////////////////////////////////////// */


	/* //////////////////////////////////// Gallery (BELOW) /////////////////////////////////////// */
	/* ///////////////////////////////////////////////////////////////////////////////////////// */

	.gallery-img{

		width: auto; 
		height: 250px; 
		padding: 20px;

	}

	/* //////////////////////////////////// Gallery (ABOVE) /////////////////////////////////////// */
	/* //////////////////////////////////////////////////////////////////////////////////////////// */
}

@media(min-width: 1000px) {
	.nav-item {
		font-size: 30px;
	}
	.nav-item.center {
		font-size: 40px;
	}
}