@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden; 
}

body {
	background-image: url('./assets/images/Tomoe_Background_Final.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Cinzel', serif;
}

@media(min-width: 300px){
   	.header {
		background: url('../src/assets/images/Hero.jpg') center;
		min-height: 188px;
		background-repeat: no-repeat;
		background-size: cover;
   	}
	.nav-item-container {
		/* margin: 0; */
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
	.nav-item {
		align-self: baseline;
		text-decoration: none;
		font-family: 'TrajanPro3', sans-serif;
		font-size: 20px;
		font-weight: 600;
		line-height: normal;
		/* letter-spacing: -0.01px; */
		color: white;
	}

	.open-until {
		width: 92.5%;
		text-align: right;
		color: white;
	}

	.center {
		font-size: 30px;
	}

	/* /////////////////////////////////////   Christina  //////////////////////////////////// */
	/* //////////////////////////////////// Press (BELOW) //////////////////////////////////// */
	.press-Reviews {
		display: grid;
	}
	.gridContainer {
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 10px;
		margin-left: 0px;
	}
	.fullReview {
		margin-top: 10px;
	}
	.img {
		width: 125px; 
		margin-top: 33px;
		order: 1;
		margin-left: 70px;
	}
	.review {
		margin-left: 30px;
		max-width: 300px;
		max-height: 72px;
		color: white;
		overflow-wrap: break-word;
		order: 2;
		font-family: 'Gill Sans', sans-serif;
		font-style: italic;
		margin: 0;
	}
	.infatuationImg {
		width: 290px;
		margin-top: -30px;
		order: 1;
	}
	.infatuationP {
		margin-left: 20px;
	}
	.timeOutImg {
		width: 190px;
		margin-right: 100px;
		margin: 0;
	}
	.timeOutP {
		margin-bottom: 20px;
	}
	.thrillistImg {
		margin: 0;
		margin-top: 5px;
		margin-left: 20px;
		width: 190px;
	}
	.thrillist {
		margin-top: -20px;
		margin-left: 20px;
	}
	/* //////////////////////////////////// Press (ABOVE) /////////////////////////////////////// */
	/* ///////////////////////////////////////////////////////////////////////////////////////// */

	/* ////////////////////////////////////////////////////////////////////////////////////// */
	/* //////////////////////////////////// Info (BELOW) //////////////////////////////////// */
	.info {
		color: wheat;
		display: flex;
		flex-flow: column;
		align-items: center;
	}
		.info .info-title {
			font-size: 50px;
		}
		.info .info-content {
			display: flex;
			flex-flow: column;
			width: 100%;
			justify-content: space-between;
			/* margin: 0 20px; */
		}
			.info .info-content .location {
				display: flex;
				flex-flow: column;
				align-items: center;
				margin: 30px 150px;
			}
				.info .info-content .location .location-map {}
				.info .info-content .location .location-map .address {
					display: flex;
					flex-flow: column;
					align-items: center;
					margin: 10px 0 0 0;
				}
			.info .info-content .week-schedule {
				display: flex;
				flex-flow: column;
				justify-content: center;
				align-items: center;
				/* width: 100%; */
				margin: auto;
			}
				.info .info-content .week-schedule .weekday-container {
					/* margin: 5px 10px; */
					/* padding: 0 50px; */
					display: flex;
					flex-flow: row;
					width: 100%;
					/* margin: 5px 10px; */
					/* padding: 0 50px; */
					/* color: wheat; */
					/* text-align: center; */
					justify-content: center;
				}
				.info .info-content .week-schedule .weekday-container.today {
					color: rgb(235, 146, 146);
				}
					.info .info-content .week-schedule .weekday-container .title {
						/* width: 100%; */
						text-align: left;
						/* margin: 0 10px; */
					}
					.info .info-content .week-schedule .weekday-container .open-close-container {
						display: flex;
						flex-flow: column;
						justify-content: left;
						text-align: right;
						width: 100%;
					}
						.info .info-content .week-schedule .weekday-container .open-close-container .open-close.now {
							/* padding: 0 100px; */
							font-weight: 900;
						}
	/* //////////////////////////////////// Info (ABOVE) //////////////////////////////////// */
	/* ////////////////////////////////////////////////////////////////////////////////////// */

	.menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: TrajanPro3;
	}
	.menu-title {
		font-size: 16px;
		color: white;
		font-family: TrajanPro3;
	}
	.menu-image {
		width: 50%;
		height: 65%;
		border-radius: 50%;
	}

	.menu-container {
		display: flex;
		flex-direction: column;
		padding: 30px;
		margin: 30px;
	}
	.menu-list-title {
		align-self: center;
	}
	.menu-list {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.menu-category {
		align-self: center;
	}
	.menu-content {
		background: rgba(0, 0, 0, .3);
	}
	.menu-item-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0 10px;
	}
		.menu-item-container .menu-item {
			white-space: nowrap;
			font-weight: 700;
		}
		.menu-item-container .description, .menu-item-container .price {
			width:100%
		}
		.menu-item-container .description{
			font-weight: 200;
			font-style: italic;
			margin: 0;
		}
		.menu-item-container .price{
			text-align: right;
		}

	.close-button {
		font-size: 42px;
		color: gray;
	}
}

@media(min-width: 700px){

   	.header {
		min-height: 488px;
   	}
	
	.menu-container {
		justify-content: space-around;
	}

	.menu-item {
		font-weight: 600;
	}

	.menu-list-title, .menu-title {
		color: white;
		justify-self: center;
		align-self: center;
	}

	.menu-title-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.menu {
		justify-items: center;
		align-items: center;
	}
	.menu-image {
		min-width: 80%;
		min-height: 80%;
	}

	/* ////////////////////////////////////////////////////////////////////////////////////// */
	/* //////////////////////////////////// Info (BELOW) //////////////////////////////////// */
	.info {}
		.info .info-title {}
		.info .info-content {}
			.info .info-content .location {}
			.info .info-content .week-schedule {}
				.info .info-content .week-schedule .weekday-container {
					/* margin: 30px 10px; */
				}
	/* //////////////////////////////////// Info (ABOVE) //////////////////////////////////// */
	/* ////////////////////////////////////////////////////////////////////////////////////// */
	
	/* /////////////////////////////////////   Christina  //////////////////////////////////// */
	/* //////////////////////////////////// Press (BELOW) //////////////////////////////////// */
	.gridContainer {
		grid-template-columns: auto;
	}
	.fullReview {
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 10px;
		margin-left: 0px;
	}
	.img {
		margin-top: 20px;
		margin-left: 70px;
	}
	.review {
		max-width: 490px;
		order: 2;
		font-style: normal;
		margin-top: 100px;
		font-size: 22px;
	}
	.infatuationImg {
		height: 302px;
		width: 511px;
		margin-left: -20px;
		order: 1;
	}
	.infatuationP {
		margin-left: -20px;
		margin-top: 80px;
	}
	.timeOutImg {
		width: 309px;
		height: 117px;
		margin-top: 10px;
	}
	.timeOutP {
		margin-left: 90px;
		margin-top: 15px;
	}
	.thrillistImg {
		margin-left: 70px;
		height: 103px;
		width: 298px;
	}
	.thrillistP {
		margin-bottom: 90px;
		margin-left: 90px;
		margin-top: 15px;
	}
	.thrillist {
		margin-top: 70px;
	}

	/* //////////////////////////////////// Press (ABOVE) /////////////////////////////////////// */
	/* ///////////////////////////////////////////////////////////////////////////////////////// */
}
