
body {
	background-image: url('./assets/images/Tomoe_Background_Final.jpg');
}
@media(min-width: 300px){
   body {
	   margin: 0 auto;
	   width: 100%;
   }
   .header {
	   /* background: url('../src/assets/images/') center; */
	   width: 100vw;
	   min-height: 188px;
	 
	   background-repeat: no-repeat;
	   background-size: cover;
   }

   .nav-item-container {
	   width: 100%;
	   display: flex;
	   flex-direction: row;
	   justify-content: space-evenly;
   }
   .nav-item {
	   align-self: baseline;
	   text-decoration: none;
	   font-family: TrajanPro3;
	   font-size: 20px;
	   font-weight: 600;
	   line-height: normal;
	   letter-spacing: -0.01px;
	   color: white;
   }

   .open-until {
	   text-align: right;
	   color: white;
   }

   .mask {
	   width: 100%;
   }

   .center {
	   font-size: 30px;
   }

/* ////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////// Info (BELOW) //////////////////////////////////// */
.info{
	color: wheat;
}
	.info .weekly-times {
		display: flex;
		flex-flow: row;
		justify-content: center;
	}
		.info .weekly-times .weekday {
			margin: 30px 40px;
			color: wheat;
		}
/* //////////////////////////////////// Info (ABOVE) //////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////// */
body {
	background-image: url("./assets/images/Tomoe_Background_Final.jpg");
}

}
.menu-image {
	width: 10%;
	height: 10%;
	border-radius: 50%;
}